@font-face {
  font-family: SFProDisplayMedium;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SFProDisplayMedium;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.table{
  height: 450px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}

.cell{
  width: 150px;
  height: 150px;
  border: solid 1px black;
  cursor: pointer;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.turn{
  font-size: 25px;
  text-align: center;
}

.turn .player{
  background: linear-gradient(80deg,#FF8C00  1.80%, #FFA500 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.symbol{
  width: 100px;
  height: 100px;
  background-image: url(images/x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.panel{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.678);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.panel button{
  margin: 25px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
}

.panel h1{
  margin: 25px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}